.controller.edit {
  background:   url(bat/starwarss.gif), url(bat/starwarsbasee.svg);
  background-postion: absolute;
    width: 750px;
    height: 630px;
  background-position-x: 0px;
  background-repeat:no-repeat;
}

.edit.disconnected {
  background: url(green/xbox-dc.svg);
}

.edit .quadrant {
  display: none;
}

.edit .p0 {
    display: none;
}

.edit .p1 {
    display: none;
}

.edit .p2 {
    display: none;
}

.edit .p3 {
    display: none;
}

.edit .back, .edit .start {
    background: url(green/start-select.svg);
    width: 33px;
    height: 33px;
    opacity: 0;
}

.edit .back.pressed, .edit .start.pressed {
    opacity: 1;
}

.edit .back {
    float: left;
}

.edit .start {
    background-position: 33px 0px;
    float: right;
}

.edit .button {
  position: absolute;
  background: url(bat/starwarsabxy.svg);
}

.edit .button.pressed {
    background-position-y: -48px;
    margin-top: 5px;
    opacity: 1;
}

.edit .a {
    background-position: 0 0;
    top: 108px;
    left: 55px;
}

.edit .b {
    background-position: -49px 0;
    top: 57px;
    right: 3px;
}

.edit .x {
    background-position: -98px 0;
    top: 57px;
    left: 4px;
}

.edit .y {
    background-position: 48px 0;
    left: 55px;
    top: 5px;
}

.edit .stick {
    position: absolute;
    background: url(bat/swsticks.svg);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}
.edit .stick{
    position: absolute;
    background: url(bat/swsticks.svg);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.edit .stick.pressed{
    background-position: 0 0;
}

.edit .stick.left{
    top: 0;
    left: 0;
}

.edit .stick.right{
    top: 113px;
    left: 288px;
}
